:root{
    --primary-bg: #dc3545;
    --secondary-bg: #ffffff;
    --third-bg: #ffffff;
    --font-pm: #929292;
    --font-title: #666666;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #607D8B
}
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--primary-bg);
  }

.text-brown {
  color: #795548;
}
#app {
  background: white;
  position: relative;
  width: 480px;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom:60px;
}
.navbar {
  width: 480px;
  position: fixed;
  bottom: 0;
  display: block
}
.nav-home {
  padding: 15px 20px;
}
h3.page-title {
  font-weight: bold;
  padding: 15px 10px;
}
.boxes{
    background: var(--primary-bg);
    height: 150px;
    width: 100%;
}

.boxes{
    background: var(--primary-bg);
    width: 100%;
    height: 150px;
    margin-top: -20px;
    margin-bottom: 100px;
}
.menu-list{

}

/* swiper js */

.swiper-container {
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(47, 42, 80, 0.08);
  }


.carousel-inner{
    margin: auto;
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(47, 42, 80, 0.08);

}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.search input{
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 48px;
    border: none;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 20px;
    border: 1px solid #E9E9E9;
    z-index: 3;
}
.search input::placeholder{
    color: #bdbdbd;
}


.menu-wrapper {
  margin: 10px;
}
.menu-section-title {
  width: 100%;
  padding: 0 10px;
  font-weight: bold;
  border-radius: 5px;
}
.menu-name {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.menu.card .card-body{
  padding: 0.5rem;
}
.cart-badge {
  font-size: .5em;
  position: absolute;
  bottom:0;
}
#cart_num_menu.cart-badge {
  font-size: .5em;
  position: absolute;
  bottom:15px;
}
.btn-back {
  font-size: 1.75rem;
  padding: 10px;
}
#order-btn {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom:0;
  width: inherit;
  padding: 15px;
}
#order-btn button {
  font-weight: bold;
}
.btn-cart-action {
  font-size: .2rem
}
.profile-photo {
  width: 80px;
  margin:0 auto;
}
.profile-photo img {
  width: 80px;
  border-radius: 50%;
}
.acc-name {
  font-weight: bold;
  font-size: 1rem
}
.loader {
  height: 100vh;
  width: inherit;
  position: fixed;
  top:0;
}
.spinner-wrapper {
  margin-top: 40vh;
  font-size: 2rem;
}
@media (max-width: 480px){
  #app, .navbar {
    width: 100%
  }
}
@media only screen and (max-width: 360px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
     /* swiper js */
    .swiper-container {
        width: 90%;
        border-radius: 8px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 16px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


  }

@media only screen and (min-width:365px) and (max-width: 480px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    
    .carousel-inner{
    margin: auto;
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(47, 42, 80, 0.08);

}

    .swiper-slide {
        text-align: center;
        font-size: 16px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
  }



